[Desktop Entry]
Name=ServerScriptRunner
Comment=Launch ServerScriptRunner
Exec=<ProjectPath>/run_server_script_runner.sh
Icon=<ProjectPath>/ServerScriptRunner.png
Terminal=false
Type=Application

#~/.local/share/applications
